<a href="https://colab.research.google.com/github/ubillusg/Utec_programacion_2023/blob/main/modulo_2/2.%20Listas_y_tuplas_Parte_II_revisado_en_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>Listas y tuplas - Parte II
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Trabajando con Listas </a>
2. <a href="#item31">Trabajando con slices</a>  
3. <a href="#item31">Tuplas</a>  
4. <a href="#item31">Diccionarios</a>  

</font>
</div>

---

# 1. Trabajando con Listas

In [ ]:
[1, 2, 3, 4]

In [ ]:
numeros = [1, 2, 3, 4, 5]

In [ ]:
print(numeros)

[1, 2, 3, 4, 5]

In [ ]:
a = ['John', 'Ricardo', 'Marcelo', 'Heidy', 'Nataly']

In [ ]:
a = [1, 10, 4, 5, 99.0]

In [ ]:
a = [1, 10, 4, 5, 'Nataly']

In [ ]:
a = [1, 10, 4, 5, None]

In [ ]:
print(a)

[1, 10, 4, 5, None]

In [ ]:
a = list('55')

In [ ]:
print(a)

['5', '5']

In [ ]:
lista = list("John")

In [ ]:
print(lista)

['J', 'o', 'h', 'n']

In [ ]:
lista = list("Bienvenido al curso")
print(lista)

['B', 'i', 'e', 'n', 'v', 'e', 'n', 'i', 'd', 'o', ' ', 'a', 'l', ' ', 'c', 'u', 'r', 's', 'o']

In [ ]:
a = [1, 10, 4, 5, [2, 3, 8, [None, 'John']]]
print(a)

[1, 10, 4, 5, [2, 3, 8, [None, 'John']]]

### Usando la función rango

In [ ]:
# modulo
20%10

0

In [ ]:

for i in [1,2,3,4,5,6,7,8,9,10]:
  if i%3 == 0:
    print(f'{i} es múltiplo de 3')

3 es múltiplo de 3
6 es múltiplo de 3
9 es múltiplo de 3

In [ ]:
#range(inicio, final + 1)
for i in range(1, 101):
  print(i)

In [ ]:

for i in range(1, 101):
  if i%3 == 0:
    print(f'{i} es múltiplo de 3')

In [ ]:
range(1, 5)

In [ ]:
for value in range(1, 5):
    print(value)

In [ ]:
for value in range(1, 6):
    print(value)

In [ ]:
for value in range(0, 101, 17):
    print(value)

0
17
34
51
68
85

In [ ]:
range?

### Usando range para crear listas de números

In [ ]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
?

In [ ]:
type(numbers)

list

In [ ]:

type(range(2,10))

range

In [ ]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list = []

In [ ]:
my_list.append(['hola' , 2])

In [ ]:
my_list

['hola', ['hola', 2]]

In [ ]:
my_list = []

for i in range(1, 1000):
  if i%79 == 0:
    my_list.append(i)

print(my_list)

[79, 158, 237, 316, 395, 474, 553, 632, 711, 790, 869, 948]

In [ ]:
squares = []

for value in range(1, 11):
    square = value ** 2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = []

for i in range(1,11):
    squares.append(i**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
i

10

In [ ]:
my_list=[]

for i in range(1, 71):
  if i%70==0:
    my_list.append(i)

print(my_list)

[70]

### Estadísticos sencillos de listas

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
min(digits)

0

In [ ]:
max(digits)

9

In [ ]:
sum(digits)

45

In [ ]:
len(digits)

10

In [ ]:
test = ['a', 'b']

sum(test)

TypeError: ignored

In [ ]:
str(1) + "hola"

'1hola'

### List Comprehensions

In [ ]:
squares = []
for i in range(1,100001):
    squares.append(i**2)

In [ ]:
from math import log

my_list = [(x**2 + 15) for x in range(1,11) if (x%5 == 0) and (x*10 > 50)]
print(my_list)

[115]

In [ ]:
squares = [value**2 for value in range(1, 11)]
print(squares)

In [ ]:
my_list = ['John Caballero', 'Angelica Reyes', 'Aldo Aguilar', 'Alvaro Arce']

In [ ]:
texto = 'Aldo Aguilar'
texto[0]

'A'

In [ ]:
texto = 'Aldo Aguilar'
texto.find(" ")

4

In [ ]:
texto[texto.find(" ")+1:]

'Aguilar'

In [ ]:
texto[-1]

'r'

In [ ]:
[x[x.find(" ")+1:] for x in my_list if ' A' in x]

['Aguilar', 'Arce']

---

<b> Ejercicio 1</b>

use un bucle **for** para imprimir los números del 1 al 20, inclusive.

In [ ]:
for i in range(1, 21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

---

<b> Ejercicio 2</b>

Haga una lista de los números del uno al millón y luego use un ciclo for para imprimir los números. (Si la salida tarda demasiado, deténgala presionando CTRL-C o cerrando la ventana de salida).

In [ ]:
1_2_3

123

In [ ]:
for i in range(1, 1_000_001):
  print(i)

In [ ]:
ejer_02 = [x for x in range(1,1000000+1)]
print(ejer_02)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

---

<b> Ejercicio 3</b>

Haga una lista de los números del uno al millón y luego use min() y max() para asegurarse de que su lista realmente comience en uno y termine en un millón. Además, use la función sum() para ver qué tan rápido Python puede agregar un millón de números.

---

<b> Ejercicio 4</b>

Use el tercer argumento de la función range() para hacer una lista de los números impares del 1 al 20. Use un bucle for para imprimir cada número.

---

<b> Ejercicio 5</b>

Haga una lista de los múltiplos de 3 de 3 a 30. Use un ciclo for para imprimir los números en su lista.

---

<b> Ejercicio 6</b>

Haga una lista de los primeros 10 cubos (es decir, el cubo de cada número entero del 1 al 10) y use un ciclo for para imprimir el valor de cada cubo.

---

<b> Ejercicio 7</b>

Use una lista de comprensión para generar una lista de los primeros 10 cubos.

---

# 2. Trabajando con slices

### Slice

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

In [ ]:
players[2]

'michael'

In [ ]:
players[-1]

'eli'

In [ ]:
players[4]

'eli'

In [ ]:

players[2:3+1]

['michael', 'florence']

In [ ]:
players[:2]

['charles', 'martina']

In [ ]:
players[1:]

['martina', 'michael', 'florence', 'eli']

In [ ]:

players[:]

['charles', 'martina', 'michael', 'florence', 'eli']

In [ ]:
players[0:2]

In [ ]:
print(players[-2])

In [ ]:
print(players[1:4])

In [ ]:
print(players[:4])

In [ ]:
print(players[2:])

In [ ]:
print(players[-3:])

### Loop a través de un slice

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

print("Estos son los tres primeros jugadores del equipo:")
for player in players[:3]:
    print(player.title())

Estos son los tres primeros jugadores del equipo:
Charles
Martina
Michael

In [ ]:
texto = 'hola chicos fue un placer para mi tener nuestra primera clase juntos'
print(texto)

hola chicos fue un placer para mi tener nuestra primera clase juntos

In [ ]:
texto = 'hola chicos fue un placer para mi tener nuestra primera clase juntos'
print(texto.title())

Hola Chicos Fue Un Placer Para Mi Tener Nuestra Primera Clase Juntos

In [ ]:
texto = 'hola chicos fue un placer para mi tener nuestra primera clase juntos'
print(texto.capitalize())

Hola chicos fue un placer para mi tener nuestra primera clase juntos

### Copiando una lista

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

In [ ]:
print("Mis platillos favoritos son:")
print(my_foods)

In [ ]:
print("\nMis platillos favoritos son:")
print(friend_foods)

In [ ]:
my_foods.append('cannoli')
friend_foods.append('ice cream')

In [ ]:
print("Mis platillos favoritos son:")
print(my_foods)

In [ ]:
print("\nMis platillos favoritos son:")
print(friend_foods)


---

<b> Ejercicio 1</b>

Utilizando alguna lista definida anteriormente:

*   Imprima el mensaje **Los tres primeros elementos de la lista son:**. Luego use un slice para imprimir los primeros tres elementos de la lista de ese programa.

*   Imprima el mensaje **Tres elementos de la mitad de la lista son:**. Use un slice para imprimir tres elementos del medio de la lista.

*   Imprima el mensaje **Los últimos tres elementos de la lista son:**. Utilice un slice para imprimir los últimos tres elementos de la lista.

In [ ]:
#Funcion general que imprime los n primeros elementos
my_foods = ['pizza', 'falafel', 'carrot cake', 'ceviche', 'pasta', 'parrilla']
n = 2

print(f'Los {n} primeros elementos de la lista son:')
for c in range(len(my_foods)):
  if c < n:
    print("\t", my_foods[c].title())

Los 2 primeros elementos de la lista son:
	 Pizza
	 Falafel

---

<b> Ejercicio 2</b>

Haga una copia de la lista de pizzas y llámela friend_pizzas. Luego, haz lo siguiente:

* Agregue una nueva pizza a la lista original.
* Agrega una pizza diferente a la lista friend_pizzas.
* Demuestra que tienes dos listas separadas. Imprima el mensaje Mis pizzas favoritas son: y luego use un bucle for para imprimir la primera lista. Imprima el mensaje Las pizzas favoritas de mi amigo son: y luego use un bucle for para imprimir la segunda lista. Asegúrese de que cada pizza nueva se almacene en la lista adecuada.

### Métodos en listas

Cómo modificar elementos de una lista

In [ ]:
a[2] = 1
print(a)

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake', 'ceviche', 'pasta', 'parrilla']
my_foods_temp = my_foods

In [ ]:
del my_foods[1]

In [ ]:
my_foods

['pizza', 'carrot cake', 'ceviche', 'pasta', 'parrilla']

In [ ]:
print(my_foods)

['pizza', 'falafel', 'carrot cake', 'ceviche', 'pasta', 'parrilla']

In [ ]:
del my_foods

In [ ]:
del a[1]
print(a)

In [ ]:
my_foods

['pizza', 'falafel', 'carrot cake', 'ceviche', 'pasta', 'parrilla']

In [ ]:
my_foods[3] = 'sushi'
my_foods

['pizza', 'falafel', 'carrot cake', 'sushi', 'pasta', 'parrilla']

In [ ]:
my_foods[0:1] = [0, 0, 0]

In [ ]:
my_foods

[0, 0, 0, 'falafel', 'carrot cake', 'ceviche', 'pasta', 'parrilla']

operaciones con listas

In [ ]:
a = [1, 2, 3, 4]
b = [4, 5]

c = a + b
c

[1, 2, 3, 4, 4, 5]

In [ ]:
a = 10
#a = a + 5
#a += 5

In [ ]:
a = [1, 2, 3]
a += [4, 5]

In [ ]:
a = [1, 2, 3]
x, y, z = a

<b>append</b>

Añade un elemento al final de la lista.

In [ ]:
a = [1, 2]
a.append(3)
print(a)

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
my_foods.append('ceviche')
print(my_foods)

['pizza', 'falafel', 'carrot cake', 'ceviche']

In [ ]:
my_foods.append(['ceviche', 'sopa seca'])
my_foods

['pizza', 'falafel', 'carrot cake', 'ceviche', ['ceviche', 'sopa seca']]

<b>extend</b>

Permite añadir una lista a la lista inicial.

In [ ]:
a = [1, 2]
a.extend([3, 4])
print(a)

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']

my_foods.extend(['ceviche', 'sopa seca'])
print(my_foods)

['pizza', 'falafel', 'carrot cake', 'ceviche', 'sopa seca']

<b>insert</b>

Añade un elemento en una posición o índice determinado.

In [ ]:
a = [1, 3]
a.insert(1, 10)
print(a)

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
my_foods.insert(2, 'ceviche')
print(my_foods)

['pizza', 'falafel', 'ceviche', 'carrot cake']

<b>remove</b>

Elimina elementos de una lista

In [ ]:
a = [1, 2, 3]
a.remove(2)
print(a)

In [ ]:
my_foods.remove('ceviche')
print(my_foods)

['pizza', 'falafel', 'carrot cake']

In [ ]:
del my_foods[3]

<b>pop</b>

Elimina por defecto el último elemento de la lista, pero si se pasa como parámetro un índice permite borrar elementos diferentes al último

In [ ]:
a = [1, 2, 3]
a.pop()
print(a)

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
my_foods.pop()
print(my_foods)

['pizza', 'falafel']

<b>reverse</b>
Inverte el orden de la lista

In [ ]:
a = [1, 2, 3]
a.reverse()
print(a)

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
my_foods.reverse()
print(my_foods)

['carrot cake', 'falafel', 'pizza']

<b>sort</b>

Ordena los elementos de menor a mayor.

In [ ]:
a = [3, 1, 2]
a.sort()
print(a)

In [ ]:
'pizza' < 2

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake', 'Arroz chaufa']
my_foods.sort()
print(my_foods)

['Arroz chaufa', 'carrot cake', 'falafel', 'pizza']

In [ ]:
a = [3, 1, 2]
a.sort(reverse = True)
print(a)

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake', 'Arroz chaufa']
my_foods.sort(reverse = True)
print(my_foods)

['pizza', 'falafel', 'carrot cake', 'Arroz chaufa']

In [ ]:
a = ['John', 'Ricardo', 'Marcelo', 'Heidy', 'Nataly']
a.index('Ricardo')

1

In [ ]:
my_foods = ['pizza', 'Arroz chaufa','falafel', 'carrot cake', 'Arroz chaufa', 'Arroz chaufa']
my_foods.index('Arroz chaufa')

1

In [ ]:
my_foods = ['pizza', 'Arroz chaufa','falafel', 'carrot cake', 'Arroz chaufa', 'Arroz chaufa']
index_my_foods = range(len(my_foods))

for food, indice in zip(my_foods, index_my_foods):
  if food == 'Arroz chaufa':
    print(food, indice)

Arroz chaufa 1
Arroz chaufa 4
Arroz chaufa 5

# 3. Tuplas

In [ ]:
my_tuple = (1, 2, 5, 6 , 10)
print(my_tuple)

(1, 2, 5, 6, 10)

In [ ]:
my_tuple = (1)
print(my_tuple)

(1,)

In [ ]:
type(my_tuple)

tuple

In [ ]:
[1]

[1]

In [ ]:
my_tuple = (1, 2, 5, 6 , 10, 19)

In [ ]:
my_tuple[3] = 'hola'

TypeError: ignored

In [ ]:
for x in (x for x in range(0,11)):
  print(x)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
dimensions = (200, 50)

In [ ]:
print(dimensions[0])

200

In [ ]:
print(dimensions[1])

50

In [ ]:
dimensions[0] = 250

TypeError: ignored

### Loops a traves de una Tupla

In [ ]:
dimensions = (200, 50, 100, 60)
for dimension in dimensions:
    print(dimension)

200
50
100
60

### Modificando una tupla

In [ ]:
print("Dimensiones originales:")
for dimension in dimensions:
    print(dimension)

Dimensiones originales:
200
50
100
60

In [ ]:
dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
  print(dimension)

Modified dimensions:
400
100

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
my_list2 = list(my_tuple)
print(my_list2)

[1, 2, 3, 4, 5]

In [ ]:
(1,(2, 3))

(1, (2, 3))

In [ ]:
[1, 2, (7, 8)]

[1, 2, (7, 8)]

In [ ]:
(1, 2, [3, 7])

(1, 2, [3, 7])

In [ ]:
my_tuple = ('a', 'b', 'c', 'd')

elemento = 'z'

if elemento in my_tuple:
  print('el elemento esta en la tupla')
else:
  print('el elemento no esta en la tupla')

el elemento no esta en la tupla

In [ ]:
elemento in my_tuple

False

---

<b> Ejercicio 1</b>

Un restaurante estilo buffet ofrece solo cinco alimentos básicos. Piense en cinco alimentos simples y guárdelos en una tupla.

* Use un bucle for para imprimir cada comida que ofrece el restaurante.
Intente modificar uno de los elementos y asegúrese de que Python rechace el cambio.
* El restaurante cambia su menú, reemplazando dos de los artículos con comidas diferentes. Agregue una línea que reescriba la tupla y luego use un ciclo for para imprimir cada uno de los elementos en el menú revisado.

---

In [ ]:
menu = ('pizza', 'pasta', 'parrilla', 'chaufa', 'ceviche')

In [ ]:
for c in menu:
  print(c)

pizza
pasta
parrilla
chaufa
ceviche

In [ ]:
menu.remove('pasta')

AttributeError: ignored

In [ ]:
menu = ('pizza', 'pasta', 'parrilla', 'chaufa', 'ceviche', 'salteña', 'pollo al horno')
for c in menu:
  print(c)

pizza
pasta
parrilla
chaufa
ceviche
salteña
pollo al horno

# 4. Diccionarios

### Un diccionario simple

In [ ]:
my_dict = {47470277: 'John Caballero',
           57578712: 'Hernan Soto',
           89897214: 'Javier Rios'}

In [ ]:

my_dict[57578712] = 'Hernan Valencia'
print(my_dict)

{47470277: 'John Caballero', 57578712: 'Hernan Valencia', 89897214: 'Javier Rios'}

In [ ]:
my_dict[47470277]

'John Caballero'

In [ ]:
print(my_dict)

{47470277: 'John Caballero', 57578712: 'Hernan Soto', 89897214: 'Javier Rios'}

In [ ]:
alien_0 = {'color': 'green',
           'points': 5}

print(alien_0['color'])
print(alien_0['points'])

green
5

### Trabajando con diccionarios

In [ ]:
alien_0 = {'color': 'green'}

print(alien_0['color'])

green

In [ ]:
alien_0 = {'color': 'green',
           'points': 5}

new_points = alien_0['points']
alien_color = alien_0['color']

print(f"Acabas de ganar {new_points} puntos por matar un alien {alien_color}!")

Acabas de ganar 5 puntos por matar un alien green!

### Agregando nuevos pares Key-Value

In [ ]:
alien_0 = {'color': 'green',
           'points': 5}

alien_0['hora'] = '10:00 pm'
alien_0['x_position'] = 199
alien_0['y_position'] = 25
alien_0['color'] = 'red'


print(alien_0)

{'color': 'red', 'points': 5, 'hora': '10:00 pm', 'x_position': 199, 'y_position': 25}

In [ ]:
alien_0['x_position']

199

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

### Comenzando con un diccionario vacio

In [ ]:
my_dict = {}

my_dict['color'] = 'red'
my_dict['points'] = 15

print(my_dict)

{'color': 'red', 'points': 15}

In [ ]:
alien_0 = {}

alien_0['color'] = 'green'
alien_0['points'] = 5

print(alien_0)

### Modificando valores de un diccionario

In [ ]:
alien_0 = {'color': 'verde'}
alien_0['color'] = 'red'

print(alien_0['color'])

red

In [ ]:
alien_0 = {'color': 'verde'}
print(f"El alien es {alien_0['color']}.")

alien_0['color'] = 'amarillo'
print(f"El alien ahora es {alien_0['color']}.")

In [ ]:
alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'medium'}
print(f"Original position: {alien_0['x_position']}")

if alien_0['speed'] == 'slow':
  x_increment = 1
elif alien_0['speed'] == 'medium':
  x_increment = 2
else:
  x_increment = 3

alien_0['x_position'] = alien_0['x_position'] + x_increment
print(f"New position: {alien_0['x_position']}")

In [ ]:
alien_0 = {'x_position': 0,
           'y_position': 25,
           'speed': 'medium'}

if alien_0['speed'] == 'slow':
  x_increment = 1
elif alien_0['speed'] == 'medium':
  x_increment = 2
else:
  x_increment = 3

alien_0['x_position'] = alien_0['x_position'] + x_increment
print(f"New position: {alien_0['x_position']}")

New position: 2

### Removiendo pares Key-Value

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

del alien_0['points']
print(alien_0)

In [ ]:
alien_0 = {'color': 'green',
           'points': 5}

del alien_0['points']
print(alien_0)

{'color': 'green'}

### Un diccionario de objetos similares

In [ ]:
favorite_languages = {
    'jen': 'python',
    'sarah': 'c++',
    'edward': 'ruby',
    'phil': 'python',
    }

In [ ]:
language = favorite_languages['sarah']
print(f"El lenguaje favorito de Sarah es {language}.")

El lenguaje favorito de Sarah es c++.

In [ ]:
favorite_languages['jen']

'python'

In [ ]:
favorite_languages = {
    'jen' : 'python',
    'sarah': 'c++',
    'edward': 'ruby',
    'phil': 'python',
    }

In [ ]:

favorite_languages['jen']

'python'

### Usando get() para acceder a los valores

In [ ]:
alien_0 = {'color': 'green', 'speed': 'slow'}
print(alien_0['points'])

KeyError: ignored

In [ ]:
alien_0.get('color')

'green'

In [ ]:
alien_0.get('speed')

'slow'

In [ ]:
point_value = alien_0.get('points', 'No hay una llave con ese nombre!')
print(point_value)

30

In [ ]:
point_value = alien_0.get('edad', 30)
print(point_value)

In [ ]:
alien_0.get('points', 'No point value assigned.')

5

---

<b> Ejercicio 1</b>

Usa un diccionario para almacenar información sobre una persona que conoces. Almacene su nombre, apellido, edad y la ciudad en la que vive. Debe tener claves como nombre, apellido, edad y ciudad. Imprima cada parte de información almacenada en su diccionario.

In [ ]:
my_info = {'nombre' : 'John',
           'apellido': 'Caballero',
           'edad': 30,
           'ciudad': 'Lima'}

print(my_info['nombre'])
print(my_info['apellido'])
print(my_info['edad'])
print(my_info['ciudad'])

John
Caballero
30
Lima

In [ ]:

for c in list(my_info.keys()):
  print(my_info.get(c))

John
Caballero
30
Lima

In [ ]:
numero = 15
print(f'hola este es el numero {numero}')

hola este es el numero 15

In [ ]:
favorite_nums = {'Maria': 7, 'Raul': 11, 'Andrea': 20, 'Jose': 100, 'Martina': 666}

for key in favorite_nums:
    print(f'- El numero favorito de {key} es {favorite_nums[key]}')

- El numero favorito de Maria es 7
- El numero favorito de Raul es 11
- El numero favorito de Andrea es 20
- El numero favorito de Jose es 100
- El numero favorito de Martina es 666

---

<b> Ejercicio 2</b>

Use un diccionario para almacenar los números favoritos de las personas. Piensa en cinco nombres y utilízalos como llaves en tu diccionario. Piense en un número favorito para cada persona y guárdelo como un valor en su diccionario. Escriba el nombre de cada persona y su número favorito.

---

<b> Ejercicio 3</b>

Piense en cinco palabras de programación que haya aprendido. Utilice estas palabras como llaves en su glosario y almacene sus significados como valores.

Imprima cada palabra y su significado como una salida con un formato ordenado. Puede imprimir la palabra seguida de dos puntos y luego su significado, o imprimir la palabra en una línea y luego imprimir su significado con sangría en una segunda línea. Utilice el carácter de nueva línea (\n) para insertar una línea en blanco entre cada par de palabra y significado en su salida.

---

In [ ]:
diccio3={"Turtle":"Para dibujar",
         "for":"es para generar Loops",
         "append":"para añadir a una lista"}

for c in (diccio3):
 print (f"La sentencia {c} sirve {diccio3.get(c)}")

La sentencia Turtle sirve Para dibujar
La sentencia for sirve es para generar Loops
La sentencia append sirve para añadir a una lista

In [ ]:
" '' 4566  "

### Loops con diccionarios

In [ ]:
user_0 = {
    'username': 'efermi',
    'first': 'enrico',
    'last': 'fermi',
    }

In [ ]:

for key, value in user_0.items():
  print(key, ": ", value)

username :  efermi
first :  enrico
last :  fermi

In [ ]:
for a in user_0.items():
  print(a)

('username', 'efermi')
('first', 'enrico')
('last', 'fermi')

In [ ]:
for a, b in user_0.items():
    print(f"\nKey: {a}")
    print(f"Value: {b}")

Key: username
Value: efermi

Key: first
Value: enrico

Key: last
Value: fermi

In [ ]:
list(user_0.keys())

['username', 'first', 'last']

In [ ]:
for name, language in favorite_languages.items():
  print(f"El lenguaje favorito de {name} es {language}.")

In [ ]:
for name in sorted(favorite_languages.keys()):
    print(f"{name.title()}, gracias por tomar la encuesta.)

In [ ]:
for key in user_0:
    print(f"\nKey: {key}")
    print(f"Value: {user_0[key]}")

Key: username
Value: efermi

Key: first
Value: enrico

Key: last
Value: fermi

---

<b> Ejercicio 1</b>

Haga un diccionario que contenga tres ríos principales y el país por el que pasa cada río. Un par clave-valor podría ser 'nilo': 'egipto'.

* Use un bucle para imprimir una oración sobre cada río, como El Nilo atraviesa Egipto.
* Utilice un bucle para imprimir el nombre de cada río incluido en el diccionario.
* Use un bucle para imprimir el nombre de cada país incluido en el diccionario.

---

<b> Ejercicio 2</b>

Haz una lista de las personas que deberían participar en la encuesta de idiomas favoritos. Incluye algunos nombres que ya estén en el diccionario y otros que no.
Recorra la lista de personas que deberían realizar la encuesta. Si ya han realizado la encuesta, imprima un mensaje agradeciéndoles por responder. Si aún no han realizado la encuesta, imprima un mensaje invitándoles a realizar la encuesta.

---

### Lista de diccionarios

In [ ]:
alien_0 = {'color': 'green',  'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red',    'points': 15}

aliens = [alien_0, alien_1, alien_2]
aliens

[{'color': 'green', 'points': 5},
 {'color': 'yellow', 'points': 10},
 {'color': 'red', 'points': 15}]

In [ ]:
aliens[2].get('color')

'red'

In [ ]:

for alien in aliens:
  print("el Alien de color", alien.get('color'), 'vale', alien.get('points'), 'puntos!')

el Alien de color green vale 5 puntos!
el Alien de color yellow vale 10 puntos!
el Alien de color red vale 15 puntos!

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]

for alien in aliens:
  print(alien)

In [ ]:
import random

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]
aliens

[{'color': 'green', 'points': 5},
 {'color': 'yellow', 'points': 10},
 {'color': 'red', 'points': 15}]

In [ ]:
random.choices(['green',
                'yellow',
                'red'])[0]

'yellow'

In [ ]:
random.choices(aliens)[0]

{'color': 'red', 'points': 15}

In [ ]:
aliens = []

# Make 30 green aliens.
for alien_number in range(10):
    new_alien = {'color': random.choices(['green', 'yellow', 'red'])[0],
                 'points': 5, 'speed': 'slow', 'alien_number': alien_number}
    aliens.append(new_alien)

aliens

[{'color': 'green', 'points': 5, 'speed': 'slow', 'alien_number': 0},
 {'color': 'green', 'points': 5, 'speed': 'slow', 'alien_number': 1},
 {'color': 'red', 'points': 5, 'speed': 'slow', 'alien_number': 2},
 {'color': 'yellow', 'points': 5, 'speed': 'slow', 'alien_number': 3},
 {'color': 'red', 'points': 5, 'speed': 'slow', 'alien_number': 4},
 {'color': 'green', 'points': 5, 'speed': 'slow', 'alien_number': 5},
 {'color': 'red', 'points': 5, 'speed': 'slow', 'alien_number': 6},
 {'color': 'yellow', 'points': 5, 'speed': 'slow', 'alien_number': 7},
 {'color': 'green', 'points': 5, 'speed': 'slow', 'alien_number': 8},
 {'color': 'green', 'points': 5, 'speed': 'slow', 'alien_number': 9}]

In [ ]:
aliens = []

# Make 30 green aliens.
for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

# Show the first 5 aliens.
for alien in aliens[:5]:
    print(alien)
print("...")

# Show how many aliens have been created.
print(f"Total number of aliens: {len(aliens)}")

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
Total number of aliens: 30

In [ ]:
aliens = []

# Make 30 green aliens.
for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)



for alien in aliens[:3]:
    if alien['color'] == 'green':
        alien['color'] = 'yellow'
        alien['speed'] = 'medium'
        alien['points'] = 10


# Show the first 5 aliens.
for alien in aliens[:5]:
    print(alien)
print("...")

# Show how many aliens have been created.
print(f"Total number of aliens: {len(aliens)}")

{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
Total number of aliens: 30

In [ ]:
aliens = []

# Make 30 green aliens.
for alien_number in range(30):
  new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
  aliens.append(new_alien)

for alien in aliens[:3]:
  if alien['color'] == 'green':
    alien['color'] = 'yellow'
    alien['speed'] = 'medium'
    alien['points'] = 10

  elif alien['color'] == 'yellow':
    alien['color'] = 'red'
    alien['speed'] = 'fast'
    alien['points'] = 15

# Show the first 5 aliens.
for alien in aliens[:5]:
    print(alien)
print("...")

# Show how many aliens have been created.
print(f"Total number of aliens: {len(aliens)}")

{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
Total number of aliens: 30

### Una lista en un diccionario

In [ ]:
# Store information about a pizza being ordered.
pizza = {'crust': 'thick',
         'toppings': ['mushrooms', 'extra cheese'],}

# Summarize the order.
print(f"You ordered a {pizza['crust']}-crust pizza "
  "with the following toppings:")

for topping in pizza['toppings']:
  print(f"\t{topping}")

You ordered a thick-crust pizza with the following toppings:
	mushrooms
	extra cheese

In [ ]:
for c in pizza['toppings']:
  print(c)

mushrooms
extra cheese

In [ ]:
favorite_languages = {
       'jen': ['python', 'ruby'],
       'sarah': ['c'],
       'edward': ['ruby', 'go'],
       'phil': ['python', 'haskell'],
       }

for name, languages in favorite_languages.items():
  print(f"\n{name}'s favorite languages are:")

  for language in languages:
    print(f"\t{language}")

In [ ]:
favorite_languages.items()

In [ ]:
favorite_languages = {
       'jen': ['python', 'ruby'],
       'sarah': ['c'],
       'edward': ['ruby', 'go'],
       'phil': ['python', 'haskell', 'spark', 'scala', 'r'], }

for name, lenguages in favorite_languages.items():
  print(f"El lenguaje favorito de {name} es:")
  for lenguage in lenguages:
    print(f"\t{lenguage}")

El lenguaje favorito de jen es:
	python
	ruby
El lenguaje favorito de sarah es:
	c
El lenguaje favorito de edward es:
	ruby
	go
El lenguaje favorito de phil es:
	python
	haskell
	spark
	scala
	r

---

<b> Ejercicio 1</b>

Cree tres nuevos diccionarios que representen a diferentes personas y almacene los tres diccionarios en una lista llamada personas. Recorra su lista de personas. Mientras recorre la lista, imprima todo lo que sabe sobre cada persona.

In [ ]:
my_dict = {'nombre' : 'Juan', 'genero':'hombre',    'edad': 58}

for tupla in my_dict.items():
  print(tupla)

for key, desc in my_dict.items():
  print(key, desc)

nombre Juan
genero hombre
edad 58

In [ ]:
juan  = {'nombre' : 'Juan', 'genero':'hombre',    'edad': 58}
maria = {'nombre' : 'Maria', 'genero':'femenino',  'edad':25}
edgar = {'nombre' : 'Edgar', 'genero':'masculino', 'edad':40}

diccionario_nombres = [juan, maria, edgar]

for i in diccionario_nombres:
  for a, b in i.items():
    print(f"El {a} de la persona es {i.get(a)}")

El nombre de la persona es Juan
El genero de la persona es hombre
El edad de la persona es 58
El nombre de la persona es Maria
El genero de la persona es femenino
El edad de la persona es 25
El nombre de la persona es Edgar
El genero de la persona es masculino

In [ ]:
i

{'genero': 'masculino', 'edad': 40}

---

<b> Ejercicio 2</b>

Haga varios diccionarios, donde cada diccionario represente una mascota diferente. En cada diccionario, incluya el tipo de animal y el nombre del dueño. Guarde estos diccionarios en una lista llamada mascotas. A continuación, recorra su lista y, mientras lo hace, imprima todo lo que sepa sobre cada mascota.

In [ ]:
mascotas = {
        'mascota_01': ['perro','chicky','mario'],
        'mascota_02': ['gato','lolo','danny'],
        'mascota_03': ['hamster','pili','raul'],
        }

for name, datos in mascotas.items():
  print(f"\nLos datos de {name} son:")

  for dato in datos:
    print(f"\t{dato}")

In [ ]:

my_dict = {}
while True:
  message = input('Cuéntanos algo sobre ti! (presiona enter para continuar o exit para salir)')
  if message == 'exit':
    break
  else:
    key = input('ingrese su atributo:')
    value = input('ingrese el valor de dicho atributo:')
    my_dict[key] = value

my_dict

Cuéntanos algo sobre ti! (presiona enter para continuar o exit para salir)
ingrese su atributo:edad
ingrese el valor de dicho atributo:30
Cuéntanos algo sobre ti! (presiona enter para continuar o exit para salir)
ingrese su atributo:nombre
ingrese el valor de dicho atributo:John
Cuéntanos algo sobre ti! (presiona enter para continuar o exit para salir)profesion
ingrese su atributo:profesion
ingrese el valor de dicho atributo:ing. estadistico
Cuéntanos algo sobre ti! (presiona enter para continuar o exit para salir)
ingrese su atributo:pasatiempo
ingrese el valor de dicho atributo:docente
Cuéntanos algo sobre ti! (presiona enter para continuar o exit para salir)exit

{'edad': '30',
 'nombre': 'John',
 'profesion': 'ing. estadistico',
 'pasatiempo': 'docente'}

In [ ]:
my_dict

{'edad': '30',
 'nombre': 'John',
 'profesion': 'ing. estadistico',
 'pasatiempo': 'docente'}

In [ ]:
my_list = ['pez', 'gato', 'perro']

enumerate(my_list)

In [ ]:
for tupla in enumerate(my_list):
  print(tupla)

(0, 'pez')
(1, 'gato')
(2, 'perro')

In [ ]:
[(0, 'pez'), (1, 'gato'), (2, 'perro')]

---

<b> Ejercicio 3</b>

Haga un diccionario llamado lugares_favoritos. Piense en tres nombres para usar como llaves en el diccionario y almacene de uno a tres lugares favoritos para cada persona. Recorre el diccionario e imprime el nombre de cada persona y sus lugares favoritos.

---

<b> Ejercicio 4</b>

Haz un diccionario llamado ciudades. Usa los nombres de tres ciudades como llaves en tu diccionario. Cree un diccionario de información sobre cada ciudad e incluya el país en el que se encuentra la ciudad, su población aproximada y un dato sobre esa ciudad. Las claves para el diccionario de cada ciudad deben ser algo como país, población y hecho. Imprime el nombre de cada ciudad y toda la información que tengas almacenada sobre ella.

---

<b> Ejercicio 5</b>

Ahora estamos trabajando con ejemplos que son lo suficientemente complejos como para que puedan extenderse de varias maneras. Utilice uno de los programas de este laboratorio y amplíelo agregando nuevas claves y valores, cambiando el contexto del programa o mejorando el formato de la salida.

---

In [ ]:
set([1, 2, 3, 4]) - set([2, 4])

{1, 3}

---

# Gracias por completar este laboratorio!

---